﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/MyCss.css" rel="stylesheet" />
</head>
<body>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>MVCVNEXPRESS</title>
        <link rel="stylesheet" href="CSS/StyleSheet.css" />
    </head>
    <body>
        <div class="top-bar">
            <div class="main-bar">
                <div class="contact-left">
                    <a class="contact"><b>0133.777.435</b> (HN) - <b>0123.745.5544</b> (HCM)</a>
                    <a class="contact2">Liên hệ quảng cáo</a>
                    <button id="like">Like</button>
                    <button id="follow">Follow</button>
                    <button id="youtube">Youtube</button>
                </div>
                <div class="login-right">
                    <button>Đăng nhập</button>
                    <button>Đăng ký</button>
                    <label for="search"></label>
                    <input id="search" type="search" placeholder="Tìm kiếm" name="search" />
                </div>
            </div>
        </div>
        <div class="main_content">
            <div class="ads1">
                <div class="logo">

                </div>
                <div class="quangcao1">

                </div>
                <div class="quangcao2">

                </div>
            </div>
            <nav class="type_bar">
                <img id="home" src="Icon/home.png" alt="Home" />
                <p class="type">Thời sự</p>
                <p class="type">Thế giới</p>
                <p class="type">Kinh doanh</p>
                <p class="type">Giải trí</p>
                <p class="type">Thể thao</p>
                <p class="type">Pháp luật</p>
                <p class="type">Giáo dục</p>
                <p class="type">Sức khỏe</p>
                <p class="type">Gia đình</p>
                <p class="type">Du lịch</p>
                <p class="type">Khoa học</p>
                <p class="type">Số hóa</p>
                <p class="type">Xe</p>
                <p class="type">Cộng đồng</p>
                <p class="type">Tâm sự</p>
                <p class="type">Video</p>
                <p class="type">Cười</p>
                <p class="type">Rao vặt</p>
            </nav>


            <div class="page_content">
                <div class="info-main">
                    <p id="trangnhat">Trang nhất</p>
                    <hr id="hr-top-thumnails" />
                    <img src="Images/thumnails.png" alt="thumnails" id="thumnails" />
                    <h1>Trump và Clínon đối đầu nảy lửa trong tranh luận trực tiếp đâu tiên</h1>
                    <p id="main-info">Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinson và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất , thương mại, đến cuộc chiến chống khủng bố,...</p>
                    <ul id="second-info"><li>Túi tiền tranh cử của bà Clinson nặng gấp đôi tỷ phú Trump</li></ul>
                    <hr id="hr-nam-doc" />
                </div>

                <div class="list-content">
                    <div>
                        <p id="english-icon">English</p>
                        <div>
                        </div>
                        <hr id="hr-doi" />
                        <p class="s1">Đài loan đóng cửa trường học vì bão megi</p>
                        <p class="s1">Những đứa trẻ sống vất vẻo trân dầm cầu đã có trốn dung thân</p>
                        <p class="s1">Tại sao casc đôi hoàn hảo vẫn li dị</p>
                        <p class="s1">Sangyong Korando - Crossover giá 1 tỷ tại Việt Nam</p>
                        <p class="s1">Lỗ hỏng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
                        <hr id="hr-doi" />
                    </div>
                    <div>
                        <p class="gocnhin">Góc nhìn</p>
                        <p class="thatthu">"Thất thủ trước cơn mưa"</p>
                        <img src="Images/thatthu.png" alt="Đức Hiển" id="duchien" />
                        <p>Hàng triệu người bất lực trước cơn mưa hay còn bởi điều gì khác?</p>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
